<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Создание и продвижение сайтов на заказ {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- styles -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/docs.css" rel="stylesheet">
        <link href="/static/css/prettyPhoto.css" rel="stylesheet">
        <link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
        <link href="/static/css/flexslider.css" rel="stylesheet">
        <link href="/static/css/sequence.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/color/default.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <script src="/static/js/jquery-1.8.2.min.js"></script>
        <script src="/static/js/jquery.easing.1.3.js"></script>
        <script src="/static/js/google-code-prettify/prettify.js"></script>
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/bootstrap.js"></script>
<!--         <script src="/static/js/jquery.elastislide.js"></script> -->
        <script src="/static/js/jquery.flexslider.js"></script>
        <script src="/static/js/sequence/sequence.jquery-min.js"></script>
        <script src="/static/js/sequence/setting.js"></script>
        <script src="/static/js/jquery.tweet.js"></script>
        <script src="/static/js/jquery.prettyPhoto.js"></script>
        <script src="/static/js/application.js"></script>
        <script src="/static/js/jquery.flexslider.js"></script>
    
        <!-- fav and touch icons -->
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
        
        
        {% block head %}
        {% endblock %}
        
    </head>
    <body>
        
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- logo -->
                        <a class="brand logo" href="/">
                            <img src="/static/img/logo.png" alt="" />
                        </a>
                        <!-- end logo -->
                        <!-- top menu -->
                        <div class="navigation">
                            <nav>
                            <ul class="nav topnav">
                                <li class="dropdown {% if 'home' in request_url %} active {% endif %}">
                                    <a href="/">Главная</a>
                                </li>
                                <li class="dropdown {% if 'services' in request_url %} active {% endif %}">
                                    <a href="/services/">Услуги</a>
                                </li>
                                <li class="dropdown {% if 'portfolio' in request_url %} active {% endif %}">
                                    <a href="/portfolio/">Портфолио</a>
                                </li>
                                {% comment %}
                                <li class="dropdown {% if 'articles' in request_url %} active {% endif %}">
                                    <a href="/articles/">Статьи</a>
                                </li>
                                {% endcomment %}
                                <li class="dropdown {% if 'order' in request_url %} active {% endif %}">
                                    <a href="/order/">Заказ</a>
                                </li>
                                <li class="dropdown {% if 'team' in request_url %} active {% endif %}">
                                    <a href="/team/">Команда</a>
                                </li>
                                <li class="dropdown {% if 'about' in request_url %} active {% endif %}">
                                    <a href="/contacts/">Контакты</a>
                                </li>
                            </ul>
                            </nav>
                        </div>
                        <!-- end menu -->
                    </div>
                </div>
            </div>
        </header>
        
        {% block slider %}
            <section id="subintro">
                <div class="jumbotron subhead" id="overview">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="centered">
                                    <h3>{{ page.subintro_title }}</h3>
                                    <p>{{ page.subintro_text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        
        {% block breadcrumb %}
        {% endblock %}
        
        <section id="maincontent">
            <div class="container">
            

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% block content %}
                {% endblock %}
        
            </div>
        </section>
        <!-- Footer
        ================================================== -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="widget">
                            <h5>Меню</h5>
                            <ul class="regular">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/services/">Услуги</a></li>
                                <li><a href="/portfolio/">Портфолио</a></li>
                                {% comment %}<li><a href="/articles/">Статьи</a></li>{% endcomment %}
                                <li><a href="/order/">Заказ</a></li>
                                <li><a href="/contacts/">О компании и контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="span3">
                        <div class="widget">
                            <h5>Последние работы</h5>
                            <ul class="regular">
                                {% for w in works_r %}
                                    <li><a href="/portfolio/{{ w.slug }}/">{{ w.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="span3">
                        {% comment %}
                        <div class="widget">
                            <h5>Последние статьи</h5>
                            <ul class="regular">
                                {% for a in articles_r %}
                                    <li><a href="/articles/{{ a.slug }}/">{{ a.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endcomment %}
                    </div>
                    
                    <div class="span3">
                        <div class="widget">
                            <h5>Контакты</h5>
                            <address>
                                <strong>
                                        Телефон: <b>8 (926) 836 12 36</b>
<br />
                                        email: <b>annkpx@gmail.com</b>

<br />
                                        skype: <b>ann_kpx</b>

<br />
                                </strong>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="verybottom">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <p>
                                &copy; WebGenesis 2013 - Все права соблюдены
                            </p>
                        </div>
                        <div class="span6">
                            <p class="pull-right">
                                Сделано в студии <a href="http://webgenesis.ru">WebGenesis</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
                
                
{% comment %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17524018 = new Ya.Metrika({id:17524018, enableAll: true, webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17524018" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = '49041';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% endcomment %}