{% extends 'base.html' %}

{% block head %}
    <script>
        $('.carousel').carousel({
              interval: 2000
            })
            </script>
    </head>
{% endblock %}

{% block content %}
	{{ content_top|safe }}

        <div class = 'row'>
                <div id="myCarousel" class="carousel slide">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    {% for w in works %}
                        <div class="item {% if forloop.counter = 4 %} active {% endif %}">
                            <img src="/media/{{ w.image }}" alt="">
                            <div class="carousel-caption">
                            <h5>{{ w.title }}, {{ w.href }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                  <!-- Carousel nav -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
        </div>

        {{ content|safe }}
{% endblock %}
