<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>webgenesis.ru Создание и продвижение сайтов на заказ</title>
            
            <link href="bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
            <script src="js/jquery.js"></script>
            <script src="bootstrap/js/bootstrap.js"></script>
        <script>
            $('.carousel').carousel({
                  interval: 2000
                })
                </script>
        </head>
        <body>
        
        <div class="container" style='margin-top: 10px'>
		<div class = 'row'>
			<div class='span6'>
				<img src='img/logo.jpg' />
			</div>
			
			<div class='span3'>
                            <p></p>
				<!--<p>
					<a href='#'>Договор</a><br />
					<a href='#'>Бриф на создание сайта</a>
				</p>-->
			</div>

			<div class='span3' style='text-align: right'>
                                <p>
                                        Телефон: <b>8 (926) 836 12 36</b><br />
                                        ПН-ВС c 9:00 до 23:00<br />
                                        email: <b>ann@webgenesis.ru</b>
                                </p>
                        </div>
		</div>
		<br />
		<div class = 'row'>
			<ul class="nav nav-tabs">
				<li class='active'><a href='#'>Главная</a></li>
				<li><a href='#'>Услуги</a></li>
				<li><a href='#'>Портфолио</a></li>
				<li><a href='#'>Оформление заказа</a></li>
				<li><a href='#'>О компании и контакты</a></li>
                        </ul>
		</div>
            
                <div class = 'row'>
                    <div id="myCarousel" class="carousel slide">
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <div class="active item">
                            <img src="img/1.png" alt="">
                            <div class="carousel-caption">
                              <h5>www.elcomtrading.com</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/2.png" alt="">
                            <div class="carousel-caption">
                              <h5>www.quatrogifts.ru</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/3.png" alt="">
                            <div class="carousel-caption">
                              <h5>&nbsp;</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/4.png" alt="">
                            <div class="carousel-caption">
                              <h5>www.dragon-el.com</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/5.png" alt="">
                            <div class="carousel-caption">
                              <h5>www.dieks.ru</h5>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/6.png" alt="">
                            <div class="carousel-caption">
                              <h5>&nbsp;</h5>
                            </div>
                        </div>
                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
               </div>


	<div class="row">
		<div class="span6">
			<h2>Создание сайтов</h2>
			<p>Основной профиль нашей компании - создание сайтов различной сложности под ключ. Разработка происходит на собственном движке, поэтому мы не ограничены возможностями определенной cms. А это значит, что можем реализовать любой необходимый функционал.</p>
			<p><a href="#">Работы в портфолио &raquo;</a></p>
			<p><a href="#">Подробнее об услуге и цены &raquo;</a></p>
		</div>
		<div class="span6">
			<h2>Продвижение сайтов</h2>
			<p>Поисковое продвижение - это необходимая часть рекламы в интернете. Наиболее оптимизированный сайт появляется выше в выдаче поисковых систем. А значит</p>
			<p><a href="#">Работы в портфолио &raquo;</a></p>
			<p><a href="#">Подробнее об услуге и цены &raquo;</a></p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h2>Фирменный стиль</h2>
			<p>Фирменный стиль - это бренд бук компании, который включает логотип, дизайн визиток, бланков, дисков, и т.д.</p>
			<p><a href="#">Работы в портфолио &raquo;</a></p>
			<p><a href="#">Подробнее об услуге и цены &raquo;</a></p>
		</div>
		<div class="span6">
			<h2>Написание и перевод статей</h2>
			<p>Без статей не обходится ни один сайт. От их качества напрямую зависит видимость сайта в поисковой системе</p>
			<p><a href="#">Работы в портфолио &raquo;</a></p>
			<p><a href="#">Подробнее об услуге и цены &raquo;</a></p>
		</div>
	</div>

      <hr />

      <footer>
        <p>&copy; webgenesis 2012</p>
      </footer>

            </div>
            
        </body>
</html>