{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | {{ page.title }}{% endblock %}

{% block content %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3083633813891120"
     data-ad-slot="6256491291"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {{ page.content|safe }}
{% endblock %}
