{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | {{ page.title }}{% endblock %}

{% block content_ %}  
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>Услуги</h3>
                            <p>
                                Мы предоставляем полный цикл услуг: Подготовка - Создание - Поддержка - Продвижение. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">               
                <li><a href="#terminy"><i class="icon-chevron-right"></i>Термины</a></li>
                <li><a href="#pered"><i class="icon-chevron-right"></i>Перед тем, как заказать</a></li>
                <li><a href="#poryadok"><i class="icon-chevron-right"></i>Порядок работы</a></li>
                <li><a href="#demo"><i class="icon-chevron-right"></i>Демо-версия админки</a></li>
                <li><a href="#zakaz"><i class="icon-chevron-right"></i>Сделать заказ</a></li>
            </ul>
        </div>
        <div class="span9">
            <section id="terminy" class="doc">
                <div class="page-header">
                    <h3>1. Термины</h3>
                </div>
                
                
                
                <p><h4>Логотип</h4> – уникальный знак компании.</p>
<p><h4>Фирменный стиль </h4> – совокупность графических элементов, позволяющих узнавать бренд. В фирменный стиль обычно входит логотип, корпоративные цвета, шрифты, а так же дизайн презентации, визитки, бланка, конверта. По-другому так же фир. Стиль называется брендбуком. “Книга бренда”. С примером фир. Стиля вы можете ознакомиться здесь (fitngo)</p>
<p><h4>ТЗ</h4> – Техническое задание. Для сложных проектов это обязательный первый этап. Для простых сайтов ТЗ писать не обязательно, достаточно просто чёткого и ясного задания, описанного в вольном стиле, каком удобно заказчику. Самое главное, чтобы любому человеку было понятно, что необходимо сделать. Не обязательно КАК, но обязательно ЧТО.
ТЗ же – это подробное описание всех модулей системы, всех страниц и логики работы. ТЗ создаётся совместно заказчиком и исполнтелем.</p>
<p><h4>Дизайн</h4> – первый этап создания сайта. Как результат, дизайн это набор разных страниц сайта (не всех, а только различных по структуре, по графике), сделанных в виде изображений (макеты photoshop). Уникальный дизайн – это значит, что Ваш дизайн рисуется дизайнером согласно Вашему фир. Стилю и он не будет больше нигде и никогда повторяться. Шаблонный дизайн – это дизайн на основе шаблона (ссылки), в котором могут изменяться только цвета в разумных рамках и логотип. (Примеры шаблонных сайтов). Конечно же, шаблонные сайты стоят намного дешевле, но и минусы, думаю, ясны.</p>
<p><h4>Вёрстка</h4> – преобразование макетов дизайна в отдельные странички, которые “не работают”, то есть не выполняют никакой логики, переходов по ссылкам и т.д. </p>
<p><h4>Программирование</h4> – завершающий этап создания сайта. На этом этапе происходит “оживление” страниц и добавление логике. Если это интернет-магазин, то в нём уже можно заказывать товары и т.д. На этом этапе создаётся админка сайта. </p>
<p><h4>Админка</h4> – административный интерфейс сайта. Это отдельная часть сайта, которая скрыта от пользователей, и туда может получить доступ только администратор. В админке можно менять контент: тексты, заполнять каталоги и всё остальное, что предусмотрено на сайте (что хочет менять заказчик). Элементы дизайна (логотип, шрифты, расположение блоков) не выносятся в админку.   (ссылка на демо версию) А так же в админку попадают все заполненные формы (ссылка) с сайта.</p>
<p><h4>Контент</h4> – смысловое наполнение сайта. Сюда входят тексты, фотографии в галерее, товары в каталоге и т.д. Контент меняется в админке. В услугу “сайт под ключ” по умолчанию не входит подготовка и размещение контента. Эту услугу можно заказать отдельно после создания самого сайта. Так как, согласитесь, если у меня закажут интернет-магазин и добавят “ну нужно ещё добавить 100 тыс. Товаров, предварительно обработав фотографии” это будет странно, поэтому по умолчанию, если что-то можно менять в админке, то редактирование мной этого в цену не входит. Обычно я заполняю сайты тестовыми текстами.</p>
<p><h4>Статическая страница</h4> – обычная страница с текстом, картинками, видео и т.д. Предназначена для простого информирования. Например “о компании”. Там не подразумевается никаких форм или сложной логики. Ввод статических страниц осуществляется через админку в специальном удобном редакторе, почти как текстовый редактор (например, Word). Для создания сложных страниц необходимо иставлять сам исходный код страницы, а для этого необходимо владеть навыками вёрстки. Кстати. осваивается за 1-2 дня, и вы уже можете создавать интересные офорленные страницы. Но не все хотят этим заниматься поэтому обычно заказывают контент отдельно. (цены на поддержку)</p>
<p><h4>Форма</h4> – форма ввода информации. Например, обратный звонок (введите своё имя и телефон) , форма подписки, обратная связь, оставить заявку и т.д.</p>
<p><h4>Движок</h4> – программная (логическая) часть сайта, на котором он работает. О различных движках написано (здесь).</p>
<p><h4>Хостинг</h4> – сервер, на котором размещается сайт. После выполнения всех работ сайт размещается на хостинге (за него нужно ежемесячно платить от 150 руб в месяц) и привязывается к домену.</p>
<p><h4>Домен</h4> – имя, по которому доступен сайт. Проверить и выбрать нужное имя для своего сайта Вы можете здесь reg.ru. Домен стоит от 150 руб в год.</p>
<p></p>


            </section>
            
            <section id="pered" class="doc">
                <div class="page-header">
                    <h3>2. Решили заказать сайт?</h3>
                </div>
                <p>
                Прочтите, пожалуйста, эту статью, прежде чем писать мне на почту "Нужен сайт! Сколько стоит и сроки?". Здесь содержится вся необходимая информация для заказчиков.
                </p><p>
                Во-первых, необходимо внимательно посмотреть на картинку ниже и уяснить для себя одну простую вещь. Чудес не бывает. Везде нужно искать компромиссы и решения под Вашу конкретную задачу. 
                </p>
                <img src='/static/img/note.png' />
                
                <p>
                    Этот принцип можно применить почти ко всем сферам нашей жизни, и в частности, к веб-разработке.<br />
- Если Вы хотите сделать дёшево, то, скорее всего Вам придётся делать и разбираться самому. Благо, в интернете есть для этого все материалы. Данный вариант требует Вашего времени и нервов. Либо Вы можете найти фрилансера -- новичка, который сделает Вам сайт задёшево, но не факт, что качественно. И опять не ко мне. Я начинаю делать простые сайты на шаблонах либо с готовым дизайном от 10ти тысяч рублей. Если у Вас бюджет ниже, не пишите мне, пожалуйста.
                </p>
                
                <p>- Если нужно сделать быстро, то тут тоже варианта 2 (всё в точности по диаграмме). Первый: делать уникальный дизайн и программирование с доплатой за срочность. Второй: делать на готовом шаблоне, тем самым экономя время на дизайн.
                </p>
                
                <p>- По поводу качественно тут можно разделить на 2 части: дизайн и функциональность.
Я всё делаю на уникальном движке, что уже само по себе является показателем качества. Об этом подробнее ниже в статье про движки. По дизайну есть 2 варианта: делать на шаблоне или делать уникальный дизайн.
                </p>
                
                <p>- Если Вы хотите править сайт сами, через админку, то будьте готовы к тому, что придётся выбрать одно из двух: либо Вы получаете базовые знания вёрстки, либо Вы сможете менять только простые тексты, списки, картинки. То есть либо функциональность, либо сложность управления.
                </p>
                
                <p> С движками тоже работает этот принцип. <a href='/pro-dvizhki/'> Подробнее про движки &raquo; </a>
                </p>
            </section>
        
            <section id="poryadok" class="doc">
                <div class="page-header">
                    <h3>4. Порядок работы и оплаты</h3>
                </div>
                <h5>Порядок оплаты.</h5>
                <p>Для ИМ или сложных проектов с уникальным:</p>
                <ol>
                    <li>Предоплата 30%.</li>
                    <li>После согласования дизайна оплата второй части 30%.</li>
                    <li>После прогр-я 40%.</li>
                </ol>
                <p>Для простых сайтов:</p>
                <ol>
                    <li>Предоплата 40%.</li>
                    <li>После выполнения всех работ ещё 60%.</li>
                </ol>
                <h5>Порядок работы.</h5>
                <ol>
                    <li>Клиент заполняет бриф (Бриф можно скачать в зеленом блоке ниже).</li>
                    <li>Мы связываемся с клиеном, согласовываем детали, объявляем цену и сроки.</li>
                    <li>Если необходим договор, заключаем.</li>
                    <li>Получение предоплаты.</li>
                    <li>Составляем ТЗ, если это необходимо.</li>
                    <li>Дизайн. Сюда включается логотип, если его нет.</li>
                    <li>Утверждение дизайна. Если по схеме 1, то вторая часть оплаты.</li>
                    <li>Вёрстка.</li>
                    <li>Утверждение вёрстки.</li>
                    <li>Программирование. Выкладывание на хостинг. Тестирование.</li>
                    <li>Утверждение сайта.</li>
                    <li>Полная оплата работы.</li>
                    <li>Выкладывание на хостинг клиета и прикрепление домена.</li>
                </ol>
                
            </section>
            
            
            <section id="demo" class="doc">
                <div class="page-header">
                    <h3>3. Демо версия сайта для тестирования админки</h3>
                </div>
                <p>
                    Демо-доступ к сайту <a href='http://navaz.ru/'>navaz.ru</a>  : <br />
                    Адрес админки: <a href='http://navaz.ru/admin/'>http://navaz.ru/admin/</a><br />
                    Логин - пароль: demo <br />
                    <a href='http://navaz.ru/admin/pages/page/16/'>Пример статической страницы &raquo;</a> - для редактирования 
                    используется простой текстовый редактор, где можно добавлять картинки, форматировать текст и т.д.
                </p>
            </section>
            
            <section id="zakaz" class="doc">
                <div class="page-header">
                    <h3>5. Сделать заказ</h3>
                </div>
                <div class='row'>
                    <div class='span4'>
                        <aside>
                            <div class="widget">
                                <h4>Отправьте нам заявку</h4>
                                <form method='post' enctype="multipart/form-data">
                                    <table class="request">
                                        {{ request_form.as_table }}
                                        <tr><td></td><td><button>Отправить</button></td></tr>
                                    </table>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </aside>
                    </div>
                    
                    <div class='span5'>
                        <p>
                            Для заказа сайта можете заполнить заявку слева, и мы свяжемся с Вами. Прекрасно, если Вы сразу прикрепите к заявке файл с заполненным брифом (Бриф можно скачать в зеленом блоке снизу), чтобы мы могли сразу сказать, сколько будет стоить выполнить Ваш проект.
                        </p>
                        
                        <div class="well">
                            <ul>
                                <li>
                                    <a href="/media/brief.pdf">Бриф на создание сайта в формате .<b>pdf</b></a></li>
                                <li>
                                    <a href="/media/brief.odt">Бриф на создание сайта в формате .<b>odt</b></a></li>
                                <li>
                                    <a href="/media/brief.doc">Бриф на создание сайта в формате .<b>doc</b></a></li>
                                <li>
                                    <a href="/media/dogovor_fiz.docx">Договор на создание сайта с физ. лицом в формате .<b>docx</b></a></li>
                                <li>
                                    <a href="/media/dogovor.pdf">Договор на создание сайта в формате .<b>pdf</b></a></li>
                                <li>
                                    <a href="/media/dogovor.odt">Договор на создание сайта в формате .<b>odt</b></a></li>
                                <li>
                                    <a href="/media/dogovor.docx">Договор на создание сайта в формате .<b>docx</b></a></li>
                                
                            </ul>
                            <p>
                                Договоры и брифы на выполнение других услуг высылаются по требованию.</p>
                        </div>
                        
                        <!-- {{ page.content|safe }} -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}