{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Создание и продвижение сайтов на заказ | Портфолио{% endblock %}

{% block head %}
{% endblock %}

{% block slider %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>Услуги</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content_ %}  
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>Услуги</h3>
                            <p>
                                Мы предоставляем полный цикл услуг: Подготовка - Создание - Поддержка - Продвижение. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#logitipy"><i class="icon-chevron-right"></i>Разработка логотипов</a></li>
                <li><a href="#firstil"><i class="icon-chevron-right"></i>Разработка фирменных стилей</a></li>
                <li><a href="#sites"><i class="icon-chevron-right"></i><b>Создание сайтов</b></a></li>
                <li><a href="#poddepgka"><i class="icon-chevron-right"></i>Поддержка сайтов</a></li>
                <li><a href="#prodvigenie"><i class="icon-chevron-right"></i>Продвижение и реклама</a></li>
                <li><a href="#souchreditelstvo"><i class="icon-chevron-right"></i>Соучредительство</a></li>
            </ul>
        </div>
        <div class="span9">
            <section id="logitipy" class="doc">
                <div class="page-header">
                    <h3>1. Разработка логотипов</h3>
                </div>
                <p>
Для того, чтобы создать сайт, необходимо иметь логотип. Логотип – это уникальный графический знак компании. Стоимость создания логотипа отдельно стоит 5-7 тыс. Если заказывать сразу вместе с сайтом, то цена ниже.
<br /><h6><a href='/portfolio/'>Логотипы в портфолио &raquo;</a></h6>
                </p>
            </section>
            
            <section id="firstil" class="doc">
                <div class="page-header">
                    <h3>2. Разработка фирменного стиля (Брендбуков)</h3>
                </div>
                <p>
Фирменный стиль – это совокупность графических элементов, позволяющих узнавать бренд. В фирменный стиль обычно входит логотип, корпоративные цвета, шрифты, а так же дизайн презентации, 
визитки, бланка, конверта. По-другому также фирменный стиль называется брендбуком. “Книга бренда”. С примером фирменного стиля вы 
можете ознакомиться <a href='/media/FnG_brendbook.pdf'>здесь</a>.<br />
Цены на разработку фирменного стиля: 15 тыс. если нет логотипа и 10 тыс., если есть.
                </p>
            </section>
        
            <section id="sites" class="doc">
                <div class="page-header">
                    <h3>3. Создание сайтов</h3>
                </div>
                <p>
Создание сайтов – это основной профиль нашей компании. Мы выполняем полный цикл по разработке сайтов, то есть делаем сайты "под ключ", но так же будем рады оживить готовый дизайн. Пожалуйста, ознакомьтесь с типами сайтов и ниже будут приведены приблизительные цены и сроки на разработку подобных сайтов.
                </p><br />
                    <h5>Типы сайтов по дизайну</h5>
<br />
                    <dl class="dl-horizontal">
                        <dt>Шаблонный дизайн</dt>
                            <dd> – это дизайн на основе шаблона, в котором могут изменяться только цвета в разумных рамках и логотип.<br />
Если Вы ограничены в бюджете и удовлетворитесь простым сайтом, то Вы можете заказать сайт на шаблоне, который выберете сами здесь:<br />
<a href='https://wrapbootstrap.com/'>wrapbootstrap.com</a><br />
<a href='http://themeforest.net/'>themeforest.net</a> - здесь нужно выбирать темы на HTML<br /><br />

<a href='/portfolio/'>Работы в портфолио с шаблонным дизайном &raquo;</a>
                            </dd>
                        <dt>Уникальный дизайн</dt>
                            <dd>
                                Дизайн рисуется согласно вашему фирменному силю и всем пожеланиям. Данный дизайн будет уникален, а значит, не будет больше нигде и никогда повторяться. Дизайнером предоставляются все необходимые страницы (различные).<br />
                                Обращаю Ваше внимание, что при разработке уникального дизайно сложно заранее предугадать сроки. Обычно первая страница предоставляется через 7-10 дней. А далее уже происходит взаимодействие с заказчиком и сроки зависят от степени совпадения вкусов дизайнера и заказчика. Поэтому обещать по срокам что-то сложно. Если Вам не нравится предложенный вариант, дизайнер его выкинет и создаст новый. Либо я могу переключить работу на другого дизайнера. В общем, мы работаем до того, пока дизайн не будет полностью удовлетворять заказчика.
                            </dd>
                    </dl>
                    
                    <div class="well well-info">
                        Правки по дизайну шаблонных сайтов не принимаются, так как если Вы хотите уникальный дизайн, то его и нужно заказывать. А шаблонный не подразумевает то, что нужно "вот ещё здесь подправить, и здесь". Поэтому делайте правильный выбор и не старайтесь сэкономить на мелочи. Дизайн – это фундамент. Если сайт будет готов, а потом возникнет желение изменить дизайн, то по сути, нужно будет переделывать всё. Поэтому я настоятельно рекомендую относиться серьёзно к процессу утверждения дизайна. Практически в каждом проекте на завершающих этапах возникает ситуация, что что-то изначально было непродумано! В итоге приходится что-то переделывать и получается хуже, чем могло бы быть. А мы не хотим никого разочаровывать. Самое главное – довольные клиенты.
                    </div>
                    
                    <br /><h6><a href='/portfolio/'>Почти все работы в портфолио сделаны на уникальном дизайне. &raquo;</a></h6>

                <br />
                    <h5>Типы сайтов по функциональности</h5>
<br />
                    <dl class="dl-horizontal">
                        <dt>Визитка</dt>
                            <dd>
                                – то набор статических страниц + карта в “о компании” + модуль “новости” + 2 формы (обратная связь, подписка, заказать звонок).<br />                            
                                При необходимости, редактирование меню.  Визитка может быть сделана в виде одностраничника. Лендинг тоже относится к этой категории.<br />
                                <a href='/portfolio/'>Сайты-визитки в портфолио &raquo;</a>
                            </dd>
                        <dt>Блог</dt>
                            <dd>
                                Визитка + категории статей + теги + статьи.<br />
                                По умолчанию здесь не предусмотрена регистрация пользователей.
                            </dd>
                        <dt>Каталог</dt>
                            <dd>
                                Функционал визитки + категории товаров + товары.<br />
                                Фотогалерея или портфолио также относится к этой категории.
                            </dd>
                        <dt>ИМ</dt>
                            <dd>
                                Интернет-магазин – это каталог с регистрацией пользователей и возможностью добавления товара в карззину и оформления заказа.<br />
                                <a href='/portfolio/'>Интернет-магазины в портфолио &raquo;</a>
                            </dd>
                        <dt>Портал, Стартап</dt>
                            <dd>
                                Всё, у чего есть особый функционал.<br />
                                С Вами будет работать специалист, который пишет ТЗ. Цены обсуждаются после составления ТЗ и начинаются от 70ти тыс. Такие проекты делаются только на уникальном дизайне.
                                <a href='/portfolio/'>Стартапы в портфолио &raquo;</a>
                            </dd>
                    </dl>
                    
                    <br />
                    <h5>Таблица ориентировочных цен и сроков</h5>
                    <p>В ячейках указана стоимость (тыс. Руб) /сроки (дней). Отмечу, что сроки приблизительные (почему – написано в абзаце про уникальный дизайн). Сроки основаны на опыте, и не означают, что в Вашем конкретном случае будет именно такой срок.</p>
                    
                    <table class="table table-bordered">
                        <tr>
                            <td></td>
                            <td>В</td>
                            <td>Б</td>
                            <td>К</td>
                            <td>ИМ</td>
                            <td>П</td>
                        </tr>
                        <tr>
                            <td>Ш</td>
                            <td>15/5</td>
                            <td>18/5</td>
                            <td>20/8</td>
                            <td>от 30/от 10</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>У</td>
                            <td>30/25</td>
                            <td>35/30</td>
                            <td>35/35</td>
                            <td>от 45/от 40</td>
                            <td>от 70ти/ от 50</td>
                        </tr>
                    </table>
                    
                    <br />
                    <h5>Дополненительные услуги:</h5>
                    <p>
                    1) Работа по составлению ТЗ стоит 2 тыс. ТЗ составляется для сложных интернет-магазинов или порталов. Это работа большая по объёму и мы не можем позволить себе её делать бесплатно, если не уверены, что Вы будете заказывать сайт у нас. 
                    </p><p>
                    2) Подключение робокассы.<br />
                    Робокасса – это агрегатор приёма платежей на сайте. Обращаем внимание, что они берут комиссию 5% со всех поступивших платежей. Отдельное подключение различных систем для новых сайтов редко имеет смысл и по деньгам часто обойдётся дорого и долго.<br />
                    Подключение робокассы стоит 5 тыс.  
                    </p><p>
                    3) Многоязычность. Сайт на нескольких языках. Делается на этапе создания сайта.<br />
                    Стоимость: + 3 тыс за второй язык, и далее по +1 тыс. В стоимость не входит сам перевод сайта! Если многоязычность нужно добавить к работающему сайту, это будет стоить дороже.<br />
                    </p><p>
                    4) Установка Яндекс.Метрики и Яндекс.Почты.<br />
                    Стоимость 1000р.
                    </p><p>
                    5) Перенос сайта на виртуальный или зарубежный хостинг. 1000р.
                    </p><p>
                    6) Регистрация пользователей и личный кабинет.<br />
                    Для ИМ предусмотрено по умолчанию, а для других проектов обсуждается отдельно. Если нужно добавить регистрацию, то это минимум + 5 тыс. Руб.
                    </p><p>
                    7) Перенос информации с других источников в интернете или импорт из файлов excel, xml или json.<br />
                    Можно, например, перенести товары из каталога какого-нибудь интернет-магазина в сети в Ваш интернет-магазин. Это называется "парсинг" сайта. <br />
                    Стоимость от 7 тыс. Руб. <br />
                    Импорт из файлов стоит от 4 тыс. Руб. В зависимости от информации.
                    </p>

                    <div class="well well-info">
                        Внимание! Создание сайта не предполагает кучу украшательств на странице! Только один слайдер в подарок. Или эффект параллакс. А так же оформление меню (раскрывающееся меню или аккордеон). Иногда нужны различные калькуляторы на сайт, расчёт скидки, или ещё что-то. Это всё можно сделать, но обговаривать нужно отдельно до того, как мы начнем работать. Если Вы сначала сказали, что нужен простой сайт-визитка, а потом оказалось, что ещё калькулятор на главной и галерея фотографий, и карта с особенными всплывающими окошками и т.д. то я попрошу пересчёта стоимости работ.
                    </div>
            </section>
        
            <section id="poddepgka" class="doc">
                <div class="page-header">
                    <h3>4. Поддержка сайтов</h3>
                </div>
                <h5>Редактирование контента сайта.</h5>
                <p>
Конетент – это смысловое наполнение сайта. Сюда входят тексты, фотографии в галерее, товары в каталоге и т.д. Контент меняется в админке. В услугу “сайт под ключ” по умолчанию не входит подготовка и размещение контента. Эту услугу можно заказать отдельно после создания самого сайта. Так как, согласитесь, если у меня закажут интернет-магазин и добавят “ну нужно ещё добавить 100 тыс. товаров, предварительно обработав фотографии” это будет странно, поэтому я сразу говорю, что если что-то можно менять в админке, то редактирование мной этого в цену не входит. 
<br /><br />
Стоимость заполнения контентом:
<ul>
<li>Текстовые страницы: Стоимость одной страницы зависит от её сложности. Как правило, это 10- 50 рублей за страницу.</li>
<li>Товары в каталоге без обработки фото – 10-30 руб</li>
<li>Обработка одной фото – 50р (обрезать, промасштабировать).</li>
</ul>

Это цены на то, что можно менять из админки.<br />

Примечание. Если сайт многоязычный, то цены на заполнение контентом будут, соответственно, выше, т.к. заполнять нужно будет больше.
                </p>
                
                <h5>Доработка и изменение сайта.</h5>
                <p>Мы занимаюсь доработкой только своих сайтов! Если у Вас уже есть сайт и Вы по каким-то причинам хотите работать с нами, то в индивидуальном порядке обговаривается стоимость перехода на наш движок и доработка сайта.<br />
В общем виде сложно описать стоимость таких работ, потому что она сильно зависит от сайта, но цены у нас адекватные, и если Вас устраивают цены на создание сайта (а для Москвы они очень низкие), то устроят и цены на доработку, т.е. Такого, что я дёшего сделаю сам сайт, а потом буду тянуть деньги за поддержку, не будет. <br />
Под пункт доработка попадает всё то, что нельзя сделать из админки.
                </p>
                
                <h5>Техническа Поддержка.</h5>
                <p>Поддержка – это общее понятие для двух предыдущих услуг. Есть 3 варианта по поддержке сайта.<br />
                <ol>
                    <li>Если Вам редко нужно что-то изменять на сайте, то можно писать Анне на email (anna@webgenesis.ru). Анна ответит в течение дня и напишет, сколько будет стоить данная правка (изменение). Мы не обещаем оперативное выполнение задания, так как мы обычно ведём несколько проектов, и они в приоритете. Если что-то срочное, то за срочность нужно платить. Потому что если за срочность стоимость не увеличивать, то выходит, что всем всё нужно было сделать ещё вчера.
<br />Стоимость одного обращения – минимум 500 руб.</li>
                    <li>Пакет поддежки "Стандарт".  <br />
До 5ти обращений в месяц. Стоимость – 2 тыс. Руб. Оплачивается до 5го числа. Если Вы не успели – значит опоздали. Мы не будем никому напоминать. Здесь не учитываются серьёзные изменения сайта или выкладывание 100 тыс товаров. Если нужно сделать большую правку, то она считается за две или за три. В любом случае, мы не наглеем и всегда найдём справедливое и честное решение. Изменения на сайте выполняются оперативно (в течение 2х дней).</li>
                    <li>Пакет поддержки "Безлимитный".<br />
Количество обращений не ограничено. Изменения на сайте выполняются оперативно (в течение 2х дней).<br />
! не включено добавление функционала сайта!<br />
! не включено выкладывание более тысячи единиц товара или страниц.</li>
                    <li>Тексты. Копирайтинг, рерайтинг, корректировка и переводы.<br />
Копирайт – это написание уникальных статей на Ваш сайт.  (от 200 руб за 1000 знаков.)<br />
Рерайт – это изменение существующих статей (обычно с сайтов конкурентов), чтобы они для поисковиков считались уникальными. (от 50 руб за 1000 знаков.)<br />
Корректировка – это исправление грамматических и стилистических ошибок в тексте. (от 50 руб за 1000 знаков. )<br />
Переводы – перевод с английского на русский и обратно.  (от 200 руб за 1000 знаков. )<br />
Нейминг – разработка названия компании и слогана. (от 1000 руб.)</li>
                </oi>
                </p>
            </section>
            
            <section id="prodvigenie" class="doc">
                <div class="page-header">
                    <h3>5. Продвижение и реклама</h3>
                </div>
                <p>
                Изначально все наши сайты хорошо спроектированы и готовы к продвижению. Продвижение сайта делается после того, как сайт полностью готов и заполнен информацией. Сначала проводится аудит рынка, после чего объявляется стоимость, сроки и результаты, которые будут достингнуты. </p><p>
Мы можем проконсультировать Вас по каким-то вопросам, связанным с продвижением, но не специализируемся на продвижении, т.к. специализируемся на создании сайтов..</p><p>
Продвижением занимаются наши партнеры, опытная компания "Бюро Погодаева", они специализируются на этом. Поэтому для того, чтобы наши клиенты получали только качественные услуги, переадресуем им. </p><p>
Для продвижения сайта, сделанного у нас, необходимо заказать поддержку, поскольку хорошая SEO-компания будет оптимизировать сам сайт, а не тупо закупать ссылки, как это очень часто делают некоторые продвиженцы. А поскольку нужно работать с сайтом, то тут не обойтись без веб-мастера. Итак, продвижение нужно заказывать совместно с поддержкой. При том, Вы можете общаться только с SEO-компанией, а они будут общаться с нами, Вы же будете избавлены от лишних мыслей и забот.
                </p>
            </section>
            
            <section id="souchreditelstvo" class="doc">
                <div class="page-header">
                    <h3>6. Соучредительство</h3>
                </div>
                <p>
                Мы предлагаем стотрудничество действующим компаниям, которых ещё нет в интернете, а так же интересным проекам, которые находятся на стадии идеи. Мы готовы взять на себя технические обязанности, то есть провести полный цикл работ по созданию бренда в сети, от разработки логотипа до рекламы. В свою очередь, мы расчитываем на долю в компании от 10% для действующих и от 30% для компаний на стадии идеи. <br />
    Рассматриваем только бизнесы, приносящие пользу общества. 
Пожалуйста, не говорите мне ничего про пирамиды, любые финансовые проекты, инфобизнес и иже с ними. Я такие предложения принимаю за оскорбление.
                </p>
            </section>
        </div>
    </div>
</div>
{% endblock %}