{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | {{ page.title }}{% endblock %}

{% block head %}
    <link href="http://umi.ru/partner/2_0/partner.css" rel="stylesheet" type="text/css" />
    <script src="http://umi.ru/js/jquery/jquery.js" type="text/javascript"></script>
    <script src="http://umi.ru/partner/js/650_umi.ru.js" type="text/javascript"></script>
    <script src="http://umi.ru/partner/2_0/partner.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
        <div class="row">
            {{ page.content|safe }}
        </div>
        <div id="UMIchooseSite" style='margin: 0px auto'></div>
       <br />
{% endblock %}